#logIn{
	padding: 1rem;

	input{
		font-size:3rem;
		color: #fff;
		font-size: 3rem;
		height: 75px;
		margin-bottom: 2px;
	}
	button{
		background: transparent;
	    font-size: 28px;
	    margin-top: 50px;
	    border: 0.5px solid transparent;
	    box-shadow: 0 0 0 0 transparent;
	    @include  transitionImportant($timing:linear , $duration:0.3s);
	}
	.button:hover, .button:focus {
	    background-color: transparent;
		border: none!important;
		color: #999;
		@include  transitionImportant($timing:ease , $duration:0.3s);
	}

}
